// UI defaults
$panel-header-background-gradient: '' !default;
$panel-header-color: #ffffff !default;
$panel-header-background-color: $admin-black !default;

// ===============================
// ======== PANEL HEADER =========
// ===============================
//padding
$panel-header-padding: 6px 6px 6px !default;
$panel-header-vertical-padding: 5px 4px !default;


.admin-std-panel {
  padding: 20px;
}

// Filter panel
.admin-filter-panel {
  background-color: #efefef !important;
}

.admin-filter-panel .x-fieldset {
  border: none !important;
}

.admin-filter-panel .x-fieldset-header {
  color: #000000 !important;
  font-size: 15px !important;
  padding: 0 0 0 0 !important;
}

.admin-filter-panel .x-fieldset-body {
  padding-left: 10px;
}
